<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Okan Akın</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/WebUITheme/assets/img/favicon.png" rel="icon">
    <link href="/WebUITheme/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/WebUITheme/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/WebUITheme/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/WebUITheme/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/WebUITheme/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/WebUITheme/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/WebUITheme/assets/css/style.css" rel="stylesheet">

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">ANA SAYFA</a></li>
                <li><a class="nav-link scrollto" href="#about">HAKKIMDA</a></li>
                <li><a class="nav-link scrollto" href="#services">SERVİSLER</a></li>
                <li><a class="nav-link scrollto" href="#portfolio">PROJELER</a></li>
                <li><a class="nav-link scrollto" href="#contact">İLETİŞİM</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </header><!-- End Header -->

    @RenderBody()
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3 style="font-family:Poppins; font-size:26px;">OKAN AKIN</h3>
            <p>JUNIOR SOFTWARE DEVELOPER</p>
            <div class="social-links">
                <a href="https://github.com/okannakinns" class="twitter" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/okan-akın-897a24229/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.instagram.com/okannakinn/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
            </div>
            <div class="copyright">
                &copy; 2023 <strong><span>Okan Akın</span></strong>. Tüm Hakları Saklıdır.
            </div>
            <div class="credits">

                Designed by <a href="https://www.linkedin.com/in/okan-akın-897a24229/" target="_blank">Okan Akın</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
   
    <!-- Vendor JS Files -->
    <script src="/WebUITheme/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/WebUITheme/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/WebUITheme/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/WebUITheme/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/WebUITheme/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/WebUITheme/assets/vendor/waypoints/noframework.waypoints.js"></script>
   

    <!-- Template Main JS File -->
    <script src="/WebUITheme/assets/js/main.js"></script>
   

</body>

</html>

