
@{
    ViewData["Title"] = "LoginSystem";
    Layout = "~/Views/Shared/_LayoutProjectDetails.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Giriş Sistemi</h2>
                <ol>
                    <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                    <li><a href="/Home/Index#portfolio">Projeler</a></li>
                    <li>Proje Detayları</li>
                </ol>
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="/WebUITheme/assets/img/portfolio/loginss1.png" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="/WebUITheme/assets/img/portfolio/loginss2.png" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="/WebUITheme/assets/img/portfolio/loginss3.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/WebUITheme/assets/img/portfolio/loginss4.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/WebUITheme/assets/img/portfolio/loginss5.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/WebUITheme/assets/img/portfolio/loginss6.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/WebUITheme/assets/img/portfolio/loginss7.png" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3 style="color:#bb4343">Proje Bilgisi</h3>
                        <ul>
                            <li><strong>Kategori</strong>: C# FORM</li>
                            <li><strong>GitHub Adresi</strong>: <a href="#">www.example.com</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-info">
                        <h5 style="color:#bb4343"><b>Projenin Amacı</b></h5>

                        <p>
                            Kullanıcı Giriş Sistemidir. Şifremi Unuttum ve İletişim Bölümleri Sayesinde Kullanıcıya Anında Destek Sağlar
                        </p>
                    </div>
                    
                        <div class="portfolio-info">
                            <p>
                                <h5 style="color:#bb4343"><b>Proje Özellikleri</b></h5>
                                <hr />
                                <ul style="list-style:unset">
                                    <li>Bir Sonraki Girişinizde Sizin <b>Bilgilerinizi Hatırlar</b></li>
                                    <li>Şifremi Unuttum Bölümü Sayesinde <b>E-posta Yoluyla Doğrulama Kodu</b> Gönderir</li>
                                    <li>İletişim Bölümü Sayesinde <b>E-posta Yoluyla Destek Almanız</b> Mümkündür</li>
                                </ul>
                            </p>
                        </div>
                    </div>
               
                
                   
                    
               
            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
