@{
    ViewData["Title"] = "MachineManagement";
    Layout = "~/Views/Shared/_LayoutProjectDetails.cshtml";
}



<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>İş Makinesi Yönetim Paneli</h2>
                <ol>
                    <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                    <li><a href="/Home/Index#portfolio">Projeler</a></li>
                    <li>Proje Detayları</li>
                </ol>
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="/WebUITheme/assets/img/portfolio/makiness0.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/WebUITheme/assets/img/portfolio/makiness1.png" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="/WebUITheme/assets/img/portfolio/makiness2.png" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="/WebUITheme/assets/img/portfolio/makiness3.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/WebUITheme/assets/img/portfolio/makiness4.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/WebUITheme/assets/img/portfolio/makiness5.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/WebUITheme/assets/img/portfolio/makiness6.png" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3 style="color:#bb4343">Proje Bilgisi</h3>
                        <ul>
                            <li><strong>Kategori</strong>: ASP.NET CORE</li>
                            <li><strong>GitHub Adresi</strong>: <a href="#">www.example.com</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-info">
                        <h5 style="color:#bb4343"><b>Projenin Amacı</b></h5>

                        <p>
                           
                            İş Makinesi Yönetim Paneli, hem firmanın gelir gider verilerinin hem de makinelerin takibini yaparak kullanıcılara kolaylık sağlamak.
                        </p>
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-8">
                    <div class="portfolio-info">
                        <p>
                                <h5 style="color:#bb4343"><b>İş Makinesi Yönetim Paneli Özellikleri</b></h5> 
                                <hr />
                                <ul style="list-style:unset">
                            <li>Firmanın <b>Hangi Ay Kaç Adet İş Yaptığını</b> Gösterir</li>
                            <li>Firmanın <b>Bulunduğumuz Ay Hangi Gün Kaç TL Kazandığını</b> Gösterir</li>
                            <li>Firmanın <b>Bulunduğumuz Ay Toplam Kazandığı Para Miktarını</b> Gösterir</li>
                            <li>Firmanın Girdiği <b>İşin Hangi Tarihlerde Yaptığını</b> Gösterir</li>
                            <li>Firmanın Kaydettiği <b>Müşteriye Ait Kaç Tane İş Bulunduğunu</b> Gösterir</li>
                            <li>Firmanın Kaydettiği <b>Müşteriye Ait Bilgileri</b> Filtreleme ile Gösterir</li>
                            <li>Firmanın Girdiği <b>İşe Kaç Gün Kaldığını</b> Gösterir</li>
                            <li>Firmanın Eğer O Gün İşi Varsa <b>Bildirimlerde Bugün Hangi İşlerin Olduğunu</b> Gösterir </li>
                            <li>Firmanın Eğer O Gün İşi Yoksa <b>Bildirimlerde Önümüzdeki 3 Gün İçindeki İşleri</b> Gösterir </li>
                            <li>Firmanın Girilen Fiş İşlemine Göre <b>Fatura Yazdırmasını</b> Sağlar. </li>
                            <li>Firmanın Girilen Fiş İşlemine <b>Resim Ekleyebilmesini</b> Sağlar. </li>
                            <li>Firmaya Ait <b>Makinelerin Durumlarını</b> Filtreleyerek Kontrol Edebilmesini Sağlar </li>
                                </ul>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img style="margin-top:60px" width="100%" src="/WebUITheme/assets/img/portfolio/otelyonetimik.png" alt="İş Makinesi Yönetim Paneli" />
                </div>
                </div>
            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
